* {
    background-color:#FFFBDB;
}

.full-screen {
    height: 100vh;
}

/*
.aboutpage {
    background-color:#FFD5E0;
}
.techskillpage {
    background-color: #CCAAFF;
}
.experiencepage {
    background-color: #CCEEDD;
}
.contactpage {
    background-color: #9DC6D8;
}
.edupage {
    background-color: #E18D77
}
*/
.title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.hi {
    font-size: 150px;
    position: relative;
    float: left;
    left: 5%;
}

/*
.main-div {
    height: 56vh;
    width: 80vw;
    border: 1px solid black;
    text-align: left;
    margin: 0 auto;
    margin-top: 10%;
}
*/

.main-div {
    
/*    border: 1px solid black;*/
    min-height: 50vh;
    top: 10vw;
}

/*
.abtme_midsection {
    height: 20vh;
    width: 60vw;
    margin: 0 auto;
    padding: 4%;
}

.abtme_parag {
  height: 20vh;
  width: 46vw;
  float: left;
  margin-top: 1.5%;
  padding-left: 5%;
}
*/

.experience_section {
  height: auto;
  margin: 0 auto;
}

.dates {
  width: 15%;
  height: 15%;
  text-align: center;
  position: relative;
  float: left;
}
.company {
  width: 30%;
  float: left;
}

.description {
  position: relative;
  float: left;
  height: auto;
  width: 85%;
  padding: 2%;
}

.side_nav {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 50px;
/*    transform: translateX(100%);*/
    transition: .5s;
}
.side_nav a {
    display: block;
    margin: 10px;
    color: #8C8C8C;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.side_nav a:hover {
    color: #CFA06A;
}
/*
.slide_handle {
  font-size: 35px;
  color: purple;
  left: 0px;
  transform: translateY(-50%) translateX(-100%);
  top: 50%;
  position: absolute;
  width: 50px;
*/
}
.side_nav:hover{
    transform:translateX(0);
}
.side_nav:hover .slide_handle {
    color: white;
}


img {
    height: 200px;
}


.title {
    text-align: center;
}

.tech_section {
  margin: 1em;
  border: 2px solid black;
  height: 200px;
  width: 150px ;
  float: left;
  position:relative;
}
.image {
    height: 640px;
    background-image:url(image/rosie_me.jpg);
    background-repeat:no-repeat;
    background-position: center;
    
}
 .dlResume {
  font-size: 50px; 
  color: pink;
    }


form.contactform {
  min-height: 350px;
  text-align: center;
}

/*
.Resume_btn {
  background-color: orange;
  border: 1px solid orange;
  height: 80px;
  width: 200px;
  float: left;
  margin-top: 15vh;
  position: fixed;
  text-transform: capitalize;
  -webkit-transform: rotate(-90deg);
    text-decoration: none;
}
*/
.edu_section {
    text-align:center;
}

.socialLinks {
    color: #8C8C8C;
    letter-spacing: 20px;
    text-decoration: none;
}
.socialLinks:hover {
    color: #AEC6CF;
}

.circle {
    border:1px solid black;
    border-radius: 50%;
}

.socialLinks {
    position: relative;
    display: inline; 
    text-align: center;
}

 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.tech_section {
  font-size: 15px;
  text-align: center;
}

.tech_name{
  height: 40px;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
}
.container {
  padding-left:0px;
  padding-right: 0px;

}

.info{
  margin: 0px auto;
} 
